{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Matter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" type="text/css">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css" type="text/css">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/js/buttons.min.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'css/custom.css' %}"> -->
</head>

<body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Important Links</h1>
                <p class="lead"><br></p>
                <a target="_blank" href="/admin/" class="button button-caution button-jumbo">Admin</a>
                <a target="_blank" href="/accounts/" class="button button-caution button-jumbo">Accounts</a>
                <a target="_blank" href="/stats/" class="button button-caution button-jumbo">Stats</a>
            </div>
        </div>
        <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
</body>
</html>